* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    scrollbar-width: none;
    cursor: url("assets/images/cursor.png"), auto;
}

body::-webkit-scrollbar {
    display: none;
}

.scroll-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.content {
    display: flex;

    width: 100vw;
}

.section {
    min-width: 100vw;
    /* max-width: 98vw; */
    height: 100vh;
    flex-shrink: 0;
}

.customScrollbar {
    height: 3px;
    width: 100vw;
    background-color: black;
    position: fixed;
    z-index: 2;
}

.scrollBuffer {
    height: 100%;
    background-color: white;
}






.star-five {
    background: transparent;
    margin: 50px 0;
    position: relative;
    display: block;
    color: #ffffff;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #ffffff;
    border-left: 100px solid transparent;
    /* transform: rotate(35deg) scale(0.1) translate(-1450px, -250px); */
}

.star-five:before {
    border-bottom: 80px solid #ffffff;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    background-color: transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}

.star-five:after {
    background-color: transparent;
    position: absolute;
    display: block;
    color: #ffffff;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #ffffff;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
}